{% include 'links.html'%}
<nav class="row nav p-10">
  <div class="col-4 center h4 text-white">SolarPower</div>
  <div class="col-3"></div>
  <div class="col-5">
      <div class="">
        <a href="/resident_home" class="nav-link"> Home</a>
        <a href="/solar_power" class="nav-link"> Solar Power</a>
        <a href="/home_appliances" class="nav-link">Home appliances</a>
        <a href="/subscriptions" class="nav-link">Subscriptions</a>
        <a href="/logout" class="nav-link">Logout</a>
      </div>
  </div>
</nav>

